apiVersion: v1
kind: ConfigMap
metadata:
  name: vdo-ninja-nginx-config
  namespace: vdo-ninja
data:
  nginx.conf: |
    user  nginx;
    worker_processes  auto;
    error_log  /var/log/nginx/error.log notice;
    pid        /var/run/nginx.pid;
    events {
        worker_connections  1024;
    }
    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
        sendfile        on;
        keepalive_timeout  65;
        server {
            listen       80;
            server_name  localhost;

            # Dedicated Socket.io Proxy
            location /socket.io/ {
                proxy_pass http://vdo-ninja-signaling:3000;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
            }

            location / {
                # Proxy WebSockets to signaling service if Upgrade header is present
                if ($http_upgrade = "websocket") {
                    proxy_pass http://vdo-ninja-signaling:3000;
                }
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_set_header Host $host;

                root   /usr/share/nginx/html;
                index  index.html index.htm;
                try_files $uri $uri/ /index.html;
            }
        }
    }
